
.idea
*.iml
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.idea/libraries/Maven__com_netflix_feign_feign_core_8_18_0.xml
.idea/libraries/Maven__com_netflix_feign_feign_httpclient_8_18_0.xml
ec-eureka/ec-eureka.iml
ec-gateway/ec-gateway.iml
ec-provider-user/ec-provider-user.iml
